<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/form.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="form-container">
        <form action="" method="post">
            <label for="Art_id">Art ID</label>
            <input type="text" name="Art_id">

            <label for="Artist_name">Artist Name</label>
            <input type="text" name="Artist_name">

            <label for="Art_name">Art Name</label>
            <input type="text" name="Art_name">
            
            <label for="art_img">Art Image</label>
            <input type="file" name="art_img" id="art_img">

            <label for="Art_height">Art height</label>
            <input type="number" name="Art_height">

            <label for="Art_width">Art width</label>
            <input type="number" name="Art_width">
            
            <label for="Art_description">Description</label>
            <textarea name="Art_description" id="" cols="30" rows="10"></textarea>

            <label for="Art_catagey">Select Catogries</label>
            <select name="Art_catagey" id="">
                <option value="">Atif</option>
                <option value="">praveen</option>
            </select>

            <label for="Art_inspiration">Inspiration</label>
            <textarea name="Art_inspiration" id="" cols="30" rows="10"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>