<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/painting.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/preset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/font.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav-conatiner">
            <div class="logo-container">
                <div class="logo">
                  <a href="/Index.html"><img src="/assets/Asset%202.png" alt=""></a>
                </div>
            </div>
            <div class="nav-items-container">
                <ul>
                  <li><a href="/Views/about.html">About</a></li>
                  <li><a href="/Views/artworks.html">Artworks</a></li>
                  <li><a href="/Views/artist.html">Artists</a></li>
                  <li><a href="/Views/blog.html">Blog</a></li>
                  <li><a href="/Views/partnership.html">Patnership</a></li>

                </ul>
            </div>
            <div class="profile_cart">
                <div class="header_profile_sec">
                    <nav class="navbar-expand-sm">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-list-4">
                          <ul class="navbar-nav">
                              <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/assets/user-alt-solid.svg" width="20" height="20" class="rounded-circle">
                                Username
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Dashboard</a>
                                <a class="dropdown-item" href="#">Edit Profile</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                              </div>
                            </li>   
                          </ul>
                        </div>
                        <div class="cart__">
                        <a href="">
                            <img src="/assets/shopping-cart-solid.svg" alt="">
                            <span>0</span>
                        </a>
                    </div>
                      </nav>
                </div>
                

            </div>
        </nav>
        
        <div class="slide-show__">
            <div class="slideshow-wrapper">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <!-- <div class="crousel_text">
                            <h1><span class="small">we</span> <span class="large">discover</span></h1>
                            <a href="" class="rouded-btn rouded-btn-bg-red">Explore</a>
                        </div> -->
                      <div class="carousel-item active">
                        <img src="/assets/banner-image-1.png" alt="Los Angeles" >
                        </div>
                      <div class="carousel-item">
                        <img src="/assets/banner-image-2.png" alt="Chicago" >   
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/banner-image-3.png" alt="New York">
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="heading">
            <h1 class="text-center">Paintings</h1>
        </div>
        <div class="row">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/Screen Shot 2021-08-04 at 11.42.26 AM.png" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Artist Name</h4>
                      <p class="card-text font-weight-light cust_margin text-muted">Miami Home, 2020</p>
                      <p class="card-text font-italic cust_margin text-muted">Sapar Contemporary</p>
                      <p class="card-text font-weight-bold">$5,040</p>
                    </div>
                  </div>
            
            
                
          </div>
    </main>

    <footer>
        <div class="stayconnected">
            <div class="stayinnertext"><h1>Stay Connected</h1></div>
            <div class="newsletter_wrapper">
                <div>
                    <span class="newsletter">
                        <input type="text" class="input_newsletter" placeholder="Enter your email here*">
                        <a href="" class="rouded-btn-bg-red newsletter_btn">Join</a>
                    </span>
                </div>
            </div>
        </div>  
        <div class="main_footer">
              <div class="footer_home">
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Artworks</a></li>
                      <li><a href="#">Artist</a></li>
                      <li><a href="#">Register</a></li>
                  </ul>
              </div>
              <div class="footer_policy">
                  <ul>
                      <li><a href="">Policy</a></li>
                      <li><a href="">Shipping & Returns</a></li>
                      <li><a href="">Store Policy</a></li>
                      <li><a href="">Payment Methods</a></li>
                      <li><a href="">FAQ</a></li>
                  </ul>
              </div>
              <div class="footer_contact">
                  <ul>
                      <li><a href="">Contact Us</a></li>
                      <li><a href="">Tel: +91 98201 44162</a></li>
                      <li><a href="">Email: selectartindia@gmail.com</a></li>
                      <li>
                        <ul class="social_icons">
                            <li><a href=""><img src="/assets/facebook-brands.svg" alt=""></a></li>
                            <li><a href=""><img src="/assets/instagram-brands.svg" alt=""></a></li>
                            <li><a href=""><img src="/assets/twitter-brands.svg" alt=""></a></li>
                            <li><a href=""><img src="/assets/youtube-brands.svg" alt=""></a></li>
                        </ul>
                    </li>
                  </ul>
              </div>
          </div>
          <div class="copyright">© 2021 selectart.in</div>
      </footer>
</body>
</html>